# Node / Playwright
/node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment files
.env
/config/.env.qa
/config/.env.dev
/config/.env.prod

# Allure reports
/allure-results/
allure-report
/screenshots/

# Custom files
/Rakesh-playwrightconfigts.txt

# Saved Jenkins/Playwright reports
/reports/